{% extends "SBfinder/base.html" %}

{% block content %}

        <div class = "container"><br>
          <u><h1 class = "text-center">Search for your class </h1><br></u>
          <form class = "text-center" method="GET">
            <input type = "text" name = "subjSearch" placeholder="APMA, CS, etc ..." class = "text-center">
            <input type = "text" name = "numSearch" placeholder="1010, 3240, etc ..." class = "text-center">
            <button type = "submit">SEARCH CLASS</button>
          </form>
        </div>

    <h2 class = "ps-4">&nbsp;List of classes</h2>
    <div class="mx-auto" style="width: 1200px;">
    {% if test %}
    {% for i in test %}
      <div class="card left-align bg-light">
        <div class="h4 card-header">
            <strong>{{ i.subject }} {{ i.catalog_number }}: {{ i.description }}</strong>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                Instructor: {{ i.instructor.name }} <br>
                Section: {{ i.course_section }}-{{ i.component }} <br>
                <button type = "submit" class="pt-1 mt-2 btn btn-secondary">Add to Schedule</button>
            </blockquote>
        </div>                      
    </div>
    <br>
    {% endfor %}
  </div>
    {% else %}
    <p>No classes with the submitted subject</p>
    {% endif %}
</body>
{% endblock %}