{% extends "SBfinder/base.html" %}
{% load SBfinder_extra %}
{% block content %}

<head>
    <style>
        .nounderline {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>
<h2 class="pt-2 text-center font-weight-bold">&emsp;Friend Request Received: </h2>

{% for userRequest in friend_request %}
{% if userRequest.to_user == user|getcurrentUser %}
<div class="card left-align bg-light">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h5>You have a friend request from {{ userRequest.from_user }} </h5>
            <button type="button" class="pt-1 mt-2 btn btn-secondary">
                <a href="/sbfinder/accept_friend_request/{{ userRequest.pk }}/" class="nounderline">Accept</a>
            </button>
        </blockquote>
    </div>
</div>

{% endif %}
{% endfor %}

</body>

{% endblock %}