<!DOCTYPE html>

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load socialaccount %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UVACS3240-StudyBuddy Finder</title>
</head>
<body>
    <div class="card text-center" >
        <div class="h4 card-header">
            <h1>Project Buddy Finder</h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                {% if user.is_authenticated %}
                    <p>Welcome. You are logged in as</p><p class="text-uppercase">{{ user.username }}</p>
                    <a href = "{% url 'SBfinder:profile' user.username %}">Go to Profile</a><br>
                    <a href = '/logout'>LogOut</a>
                {% else %}
                    <a href = "{% provider_login_url 'google' %}">Login With Google</a>
                {% endif %}
            </blockquote>
        </div>
    </div>
</body>


</html>
